/* Device Category	Breakpoint Width*/

/* Mobile, portrait	*/
$Breakpoint-small: 375px;
/* Mobile, landscape */
$Breakpoint-mobile: 576px;
/* Tablet, portrait */
$Breakpoint-tablet: 768px;
/* Tablet, landscape */
$Breakpoint-tablet-large: 992px;
/* Laptop displays */
$Breakpoint-laptop: 1200px;
/* Desktop displays */
$Breakpoint-desktop: 1400px;